<app-header [title]="title"></app-header>
<div class="userPageContainer">
  
  <div class="buttCreateContainer">
    <button class="buttCreate" (click)="toggleCreateForm()">Create Post</button>
  </div>

  <div *ngIf="showCreateForm" class="formContainer">
    <form [formGroup]="myForm" class="formPost" (ngSubmit)="onSubmit()">
      <h4>Create post</h4>
      <input formControlName="title" class="inpPost" placeholder="title" type="text" />
      <input formControlName="post" class="inpPost" placeholder="Post" type="textarea" />
      <input class="inpPost" type="submit" />
    </form>
  </div>

  <app-card-list [posts]="postsUserAll" />
</div>
