.header {
  height: 90px;
  color: #fff;
  padding: 5px;
  background-size: cover;
  background-position: center;
  transition: transform 0.3s ease-out;
  background-color: #bbb;
/* background-image: url(../../../assets/blog_post-750x406.jpg); */
}

.content{
  display: flex;
  justify-content: space-between;
}

.title {
  padding: 5px;
  align-self: flex-start;
}

.buttLogin{
  padding: 5px;
  align-self: flex-end;
  margin-bottom: 30px;
  margin-right: 10px;
  border: none;
  font-size: 20px;
}
